<!DOCTYPE html><html><head>
    <meta content="authenticity_token" name="csrf-param">
<meta content="sPWYdkpGZhNpIZKIkK+RbFFetqg686fVfBfXN8a2jbg=" name="csrf-token">
    <title>Session Details</title>
    <link href="/assets/application-2c15e59c3a60ea49352adcdda5e7676f.css" media="screen" rel="stylesheet">
    <link href="/assets/favicon-dcd3e081210305ec11623c589501f886.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/css/style.css" media="screen" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script src="/js/glitch.jquery.js"></script>    
    <script src="/js/dostuff2.js"></script>        
  </head>

  <body>

    <div class="full-column">
      <div class="center-column">
        <ul id="menu">
          <li class="star">
            <a href="/" >
              <span class="description">home</span><br />
                minne<span class="star">✱bar</span>
            </a>
          </li>
        </ul>
        <div class="clearboth"></div>

      </div><!-- / center-column -->
    </div><!-- / full-column -->
    <div class="center-column">




      <div id="flash_message_placeholder"></div>
        
        
        
        <h1 id="sessiontitle"></h1>

      
<p id="presenterlink">by 

</p>
<div class="room" id="room"></div>

<div class="row">
  <div class="column grid_6" style="margin-left:0px">

    <div class="session_description" id="session_description">

      <div class="topic_level">All levels</div>
    </div>

    <div class="session_presenters">
      <!-- h3 class="heading">About the presenter</h3-->
      
      <h4 id="presentername"></h4>
      <div id="bio">
      </div>
    </div> 

    <hr>

    <h2 style="margin-top:2em;"></h2>

  </div>




    <footer>

  <div class="row">
    <h4>NOT AFFILIATED WITH MINNEBAR AT ALL</h4>
    <h4>Follow <a href="http://twitter.com/mirrorbar">@MirrorBar</a> for session updates</h4>
  </div>

</footer>

  

<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body></html>